
/* Header Nav css (remove) */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
#header-nav {
    margin-left: 10px;
    color: #222 !important;
}

#header-nav-main {
    margin-left: 200px;
}

.navbar-inverse #header-nav>li>a {
    color: #222 !important;
}

#search-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 998;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

#search-container {
    position: absolute;
    margin-left: 134px;
    z-index: 999;
    display: flex;
    border-radius: .4rem;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.15);
    padding-left: 1.2rem;
    width: fit-content;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

#search-container ul {
    display: none;
}

#search-container:focus-within {
    width: 80vw;
    height: 90vh;
    background-color: #ededed;
}

#search-container:focus-within ul {
    display: contents;
}

#search-container:focus-within~#search-backdrop {
    opacity: 1;
    pointer-events: all;
}

#search-container:focus-within #search-filter-section {
    display: flex;
    gap: 3rem;
    animation: fadeIn 0.4s ease-in-out;
}

#searchfield {
    width: 150px;
    border: none;
    border-radius: 1rem;
    transition: width 0.3s ease-in-out;
}

#searchfield:focus {
    border: none;
}

#searchfield::placeholder {
    color: gray;
    opacity: 1;
}

#search-container:focus-within #searchfield {
    width: 50vw;
    margin-left: 1rem;
}

#search-filter-section {
    max-width: 100%;
    padding: 1rem;
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

#search-filter-section label {
    width: 100px;
    text-align: end;
}

#search-filter-section div {
    padding: .2rem;
}

#search-container:focus-within #search-filter-section {
    opacity: 1;
    transform: translateY(0);
}

#filter-container {
    display: flex;
    border-right: solid gray 1px;
    flex-direction: column;
    padding-right: 1rem;
    width: 240px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    #search-backdrop {
        display: none;
    }

    #search-container {
        width: auto;
        height: auto;
        margin-left: 10px;
        box-shadow: none;
        position: relative;
        padding-left: .4rem;
    }

    #searchfield {
        width: 150px;
    }

    #search-container:focus-within {
        width: auto;
        background-color: transparent;
    }

    #search-container:focus-within ul {
        display: none;
    }

    #search-container:focus-within #searchfield {
        width: 150px;
        margin-left: 0;
    }

    #search-container:focus-within~#search-backdrop {
        opacity: 0;
        pointer-events: none;
    }

    ul#header-nav-main {
        margin-left: 0;
    }
}


/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */



.card {
    border-radius: 10px;
}

.form-label {
    font-weight: 600;
}

.list-group-item {
    cursor: pointer;
    transition: background 0.3s;
}

.list-group-item:hover {
    background: #f8f9fa;
}



#head-con {
    display: flex;
}

.modal-body {
    max-width: 30vw;
}

.grid-log-item {
    max-width: 30vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-top: .5rem;
    padding: 1rem;
    box-shadow: -4px 10px 12px gray;
    border-radius: .4rem;
}

.item1 {
    border-right: solid gray 1px;
}



.row-fluid {
    display: flex;
}



.addDocument-container, .addSubfolder-container, .editFolder-container, .updateDocument-container, .moveDocument-container,  .removeDocument-container, .accessRightsDocument-container, .notifyDocument-container, .transferDocument-container{
    padding-left: 1rem;
}

.notifyDocument-container .row-fluid {
    display: flex;
    flex-direction: column;
}


.accessRightsDocument-container .span4{
    width: 90%;
}

.accessRightsDocument-container {
    width: 90%;
    overflow: hidden;
}
.accessRightsDocument-container .form-horizontal .controls {
    margin-bottom: 2.3rem;
}

.accessRightsDocument-container legend {

    background-color: white !important;
    justify-content: start !important;
    width: 90%;
}


.accessRightsDocument-container .controls  {
    width: 60vw !important;
}
.breadcrumb {
    display: none;
}

.form-horizontal .controls {
    margin-left: 0px !important;
}


.controls.right {
    display: flex;
    justify-content: end;
}

/* .form-horizontal .controls.right {
        justify-content: end;
} */

.span6 h5 {
    background-color: #ECECEC;
    color: #767676;
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: normal;
    margin: 0px !important;
    border-radius: .6rem .6rem 0 0;
}

.well {
    background-color: white !important;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
}

.well .control-label {
    text-align: start;
    font-size: 1rem !important;
}



.form-horizontal {
    width: 88vw;
}

.controls-edit {
    display: flex;
    justify-content: end;
}

.control-group {
    display: flex;
}

.control-group .controls {
    width: 100%;
}

.controls textarea {
    width: 90%;
}

.controls input,
.controls textarea,
.select2-container {
    box-shadow: -6px 5px 8px rgba(0, 0, 0, 0.15);
}

.header-icon {
    margin-left: 12px;
}
.row-fluid .row-fluid .span4 {
    background-color: none !important;
}
.span4 tbody tr {
    padding: 1rem !important;
}

.edit-dropdown {
    text-decoration: none;
    color: gray;
    margin-left: .6rem;
}

.controls input:focus,
.controls textarea:focus,
.select2-container:focus {
    border: solid lightblue 1px;
}

.dropdown-menu {
    padding: .8rem;
}

.dropdown-item-edit {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

@media (max-width: 676px) {
    .form-horizontal {
        width: 100%;
    }

    .control-group,
    .row-fluid {
        display: flex;
        flex-direction: column;
    }

    .nav {
        display: none;
    }
}

main {
    background-color: #F8F9FC;
}


.row-fluid .navbar {
    display: flex;
    width: 10vw;
}

.timeline-viewdoc {
    margin-left: 0vw;
    overflow: hidden;
    width: 170%;
}

.span8 .btn {
    background-image: none !important;
    background-color: white;
}

.timeline-viewdoc legend {
    background-color: #ECECEC;
    color: gray;
    border-radius: .8rem .8rem 0 0;
    margin-bottom: 0px;
    padding: .8rem;
    font-weight: bold;
}
.row-fluid .row-fluid .span4 {
    order: 2;
    margin-left: 5rem !important;
    border-radius: .6rem;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.15);
    background-color: #ffff;
    margin-top: 1rem;
    height: fit-content;
}


.row-fluid .span5, .row-fluid .span3 {
    margin-left: 0px;
    width: fit-content;
}
.span4 .nav {
    display: flex;
}


.row-fluid .span5 .actions.unstyled {
    width: 300px !important;
}


.tab-pane {
width: calc(100% - .1rem) !important;
overflow: hidden;}
.span4 legend {
    justify-content: center;
    background-color: #ededed;
    color: gray;
    padding: 0;
    margin-bottom: 0;

}
.span4 table {
width: 100%;
padding: .6rem 1.2rem;
border-collapse: none;

}
.span4 tr td{
padding: .8rem 1rem !important;
border-top: none;
border-bottom: solid black 1px;
}
.span4 {
    overflow: hidden;
} 
.well .row-fluid .span4  {
overflow: visible;}

.span8 {
    order: 1;
    margin-top: 1rem;
    width: 50vw !important;
    border-radius: .8rem;
}

#docinfotab {
    display: flex;
}
#docinfotab li {
    padding: .6rem;
}

.well table {
    width: 100%;
}

#docinfo {
    width: 765px;
}

#docinfo .alert{
    margin-bottom: 0px;
}

.span3 .mimeicon{
    margin-right: 19px;
}

#docinfotab #docinfo {
    display: flex;
    gap: 1rem;
}

.well .row-fluid .span4 {
    box-shadow: none;
}

.action-list.nav.nav-pills.mb-4 {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 1rem;
    background-color: transparent !important;
    padding: 0px !important;
   
}
.nav.nav-pills {
    background-color: #ECECEC;
    padding: 0px !important;
    border-radius: .8rem .8rem 0 0;
    margin-bottom: 0px;
}

.action-list.nav.nav-pills.mb-4{
    width: 300px;
    gap: .6rem;
} 

.nav-pills .nav-item ._nav-link span {
    font-size: 1rem;
}
.nav-pills:before {
    display: none;
}
.nav-pills .nav-item ._nav-link:hover {
    background-color: #ededed;
}
.nav-pills>li>a {
    border-radius: 0px !important;
    padding-bottom: 2px 2px 1px 2px;
    font-size: 1.2rem;
    /* color: gray; */
    cursor: pointer;
}

.nav-pills>.active>a,
.nav-pills>.active>a:hover,
.nav-pills>.active>a:focus {
    background-color: transparent !important;
    border-bottom: solid #7976E7 2px;
    color: #7976E7;
}



.input-append.date.span4.datepicker {
margin-left: 0px;
width: fit-content;}


.include-container-title {
    justify-content: center;
    padding: .6rem 0;
    color: gray;
    
}

.d-none.d-lg-inline {
    font-size: 1rem;
}

.nav-item.m-1 {
    background-color: none;
}

.include-container-title {
    border-radius: .6rem .6rem 0 0;
    
}

.include-container-title legend {
    background-color: #ECECEC;
    color: gray;
        border-radius: .6rem .6rem 0 0;
        padding-left: 1rem;
        margin-bottom: 0px;
        
}

.tab-content {
    width: 100%;
}



.test {
    border: solid red;
    padding-left: 5rem;
    margin-left: 1rem;
}
legend {
    width: calc(100% - 1rem);
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}


@media (max-width: 676px) {
    .span4 {
        order: 1;
    }
        .row-fluid .row-fluid .span4 {
        margin-left: 0px !important;
        }
    .span8 {
        order: 2;
        width: 100vw;
    }

    .tab-pane, .span8 {
        width: 100vw !important;
    }

    .timeline-viewdoc {
        width: 100vw;
    }

    #docinfotab, #docinfo .well, #docinfo .alert {
        width: 80vw;
    }

    #docinfotab li a {
        font-size: .7rem;
    }

    .action-list.nav.nav-pills.mb-4 {
        display: grid;
        grid-template-columns: repeat(2, minmax(60px, 1fr));
        gap: .4rem;
        background-color: transparent !important;
        padding: 0px !important;

    }

    .action-list.nav.nav-pills.mb-4 li a span,  .action-list.nav.nav-pills.mb-4 li a{
        font-size: 13px;
    }
    .include-container-title{
        width: 100vw;
        overflow: hidden;
    }

    .include-container-title legend {
        overflow: hidden;
        width: 100px;
    }
}